<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="modalCreateCustomer">
    <div class="modal fade" id="modalCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Thêm khách hàng</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide"></div>
                    <form id="frmCreateCustomer" method="post" class="row">
                        <div class="col-lg-9 fl">
                            <div class="row col-lg-12 mt-3">
                                <div class="col-lg-4">
                                    <label>Họ và tên</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user-pen"></i></span>
                                        </div>
                                        <input type="text" id="fullNameCre" name="fullNameCre" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label>Email</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                        <input type="email" id="emailCre" name="emailCre" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label>Số điện thoại</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>
                                        <input type="tel" id="phoneCre" name="phoneCre" class="form-control">
                                    </div>

                                </div>
                            </div>
                            <div class="row col-lg-12 mt-3">
                                <div class="col-lg-6">
                                    <label>Tỉnh</label>
                                    <select name="provinceCre" id="provinceCre" class="form-control form-select">
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label>Huyện</label>
                                    <select name="districtCre" id="districtCre" class="form-control form-select">
                                    </select>
                                </div>
                            </div>
                            <div class="row col-lg-12 mt-3">
                                <div class="col-lg-6">
                                    <label>Xã</label>
                                    <select name="wardCre" id="wardCre" class="form-control form-select">
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label>Địa chỉ</label>
                                    <div class="input-group">
                                        <input type="text" id="addressCre" name="addressCre" class="form-control">
                                        <div class="input-group-append">
                                            <div class="input-group-text"><i class="fas fa-ambulance"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 fl">
                            <section>
                                <div class="wrappers">
                                    <div class="image-preview">
                                        <canvas id="canvas" style="display: none;" width="4094" height="2048"></canvas>
                                    </div>
                                    <div class="content" style="opacity: 1;">
                                        <div class="icon">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                        </div>
                                        <div class="text">
                                            Clik để chọn ảnh!
                                        </div>
                                        <div class="text">
                                            Kích thước tối đa = 2MB
                                        </div>
                                    </div>
                                    <div class="clear-image-preview">
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <div class="file-name">
                                        Đổi ảnh
                                    </div>
                                </div>
                                <input type="file" id="imageFile" accept="image/jpeg, image/png" hidden="">
                            </section>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="button" id="btnCreate" class="btn btn-outline-primary">
                        <i class="fas fa-plus"></i>
                        Thêm mới
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>
