<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <th:block th:replace="/layout/admin/head :: head"/>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="/assets/admin/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <th:block th:replace="/layout/admin/navbar :: navbar"/>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <th:block th:replace="/layout/admin/products/sidebar :: sidebar"/>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>SẢN PHẨM</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item active">sản phẩm</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Danh sách các sản phẩm của cửa hàng bạn</h3>
                <input id="btnShowCreateModal" type="submit" value="Tạo sản phẩm" class="btn btn-outline-primary float-right" title="Thêm" data-toggle="tooltip">
              </div>

              <!-- /.card-header -->
              <div class="card-body">
                <table id="tbProduct" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Hình ảnh</th>
                      <th>Tên sản phẩm</th>
                      <th>Giá hiện tại</th>
                      <th>Giá cũ</th>
                      <th>Giảm giá (%)</th>
                      <th>Số lượng</th>
                      <th>Danh mục</th>
                      <th>Mô tả</th>
                      <th >Sửa</th>
                      <th >Xoá</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <div class="loader hide"></div>

  <th:block th:replace="/layout/admin/footer :: footer" />

</div>
<!-- ./wrapper -->

<!--Create Modal -->
<th:block th:replace="/admin/modalCreateProduct :: modalCreateProduct"/>
<!--Create Update -->
<th:block th:replace="/admin/modalUpdateProduct :: modalUpdateProduct"/>


<th:block th:replace="/layout/admin/products/scriptProducts :: scriptProducts"/>


<script>
  const page = {
    urls: {
      getAllProducts: App.PRODUCTS_API,
      getProductById: App.PRODUCTS_API,
      createProduct: App.PRODUCTS_API,
      updateProduct: App.PRODUCTS_API + "/update",
      deleteProduct:  App.PRODUCTS_API + "/delete",
      getAllCategories: App.PRODUCTS_API + "/categories"

    },
    elements: {},
    loadData: {},
    commands: {},
    dialogs: {
      elements: {},
      loadData: {},
      commands: {},
      alertDanger: {}
    },
    initializeEventControl: {}
  }

  page.elements.loader = $(".loader");

  page.elements.btnShowCreateModal = $("#btnShowCreateModal");
  page.elements.tbProduct = $("#tbProduct");
  page.elements.tbProductBody = $("#tbProduct tbody");

  page.dialogs.alertDanger.modalCreate = $("#modalCreate .modal-body .modal-alert-danger");
  page.dialogs.alertDanger.modalUpdate = $("#modalUpdate .modal-body .modal-alert-danger");

  page.dialogs.elements.modalCreate = $("#modalCreate");
  page.dialogs.elements.frmCreateProduct = $("#frmCreateProduct");
  page.dialogs.elements.titleCre = $("#titleCre");
  page.dialogs.elements.priceCre = $("#priceCre");
  page.dialogs.elements.quantityCre = $("#quantityCre");
  page.dialogs.elements.descriptionCre = $("#descriptionCre");
  page.dialogs.elements.categoryCre = $("#categoryCre");
  page.dialogs.elements.discountCre = $("#discountCre");
  page.dialogs.elements.newCheckCre = $("#newCheckCre");
  page.dialogs.elements.btnCreate = $("#btnCreate");

  page.dialogs.elements.modalUpdate = $("#modalUpdate");
  page.dialogs.elements.frmUpdateProduct = $("#frmUpdateProduct");
  page.dialogs.elements.titleUp = $("#titleUp");
  page.dialogs.elements.priceUp = $("#priceUp");
  page.dialogs.elements.quantityUp  = $("#quantityUp");
  page.dialogs.elements.categoryUp = $("#categoryUp");
  page.dialogs.elements.discountUp = $("#discountUp");
  page.dialogs.elements.newCheckUp = $("#newCheckUp");
  page.dialogs.elements.oldPriceUp = $("#oldPriceUp");
  page.dialogs.elements.descriptionUp  = $("#descriptionUp");
  page.dialogs.elements.btnUpdate = $("#btnUpdate");

  page.dialogs.elements.wrapper = $("#frmCreateProduct section .wrappers");
  page.dialogs.elements.imageFile = $("#imageFile");
  page.dialogs.elements.wrapperContent = $("#frmCreateProduct section .wrappers .content");
  page.dialogs.elements.imagePreview = $("#frmCreateProduct section .image-preview canvas");
  page.dialogs.elements.canvas = $("#canvas");
  page.dialogs.elements.context = page.dialogs.elements.canvas[0].getContext('2d');
  page.dialogs.elements.imagePreview.css("display", "none");
  page.dialogs.elements.divImagePreview = $("#frmCreateProduct div.image-preview,#frmCreateProduct div.file-name");
  page.dialogs.elements.btnClearImagePreview = $("#frmCreateProduct .clear-image-preview i");

  page.dialogs.elements.wrapperUp = $("#frmUpdateProduct section .wrappers");
  page.dialogs.elements.imageFileUp = $("#imageFileUp");
  page.dialogs.elements.wrapperContentUp = $("#frmUpdateProduct section .wrappers .content");
  page.dialogs.elements.imagePreviewUp = $("#frmUpdateProduct section .image-preview canvas");
  page.dialogs.elements.canvasUp = $("#canvasUp");
  page.dialogs.elements.contextUp = page.dialogs.elements.canvasUp[0].getContext('2d');
  page.dialogs.elements.imagePreviewUp.css("display", "none");
  page.dialogs.elements.divImagePreviewUp = $("#frmUpdateProduct div.image-preview,#frmUpdateProduct div.file-name");
  page.dialogs.elements.btnClearImagePreviewUp = $("#frmUpdateProduct .clear-image-preview i");


  let product = new Product();
  let category = new Category();

  page.commands.getAllProducts = () => {
    $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      type: "GET",
      url: page.urls.getAllProducts
    })
            .done((data) => {

              $.each(data, (i, item) => {

                let product = item;

                let avatar = product.avatar;
                let str = renderProduct(product, avatar);

                page.elements.tbProductBody.prepend(str);
              })
              page.commands.handleEventShow();
            })
            .fail((error) => {
              console.error(error);
            })
  }
  page.commands.getAllCategories = () => {
    $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      type: "GET",
      url: page.urls.getAllCategories
    })
      .done((data) => {

        page.dialogs.elements.categoryCre.empty()

        data.map(item => {
          let str = `<option value="${item.id}">${item.name}</option>`;
          page.dialogs.elements.categoryCre.append(str);
        })
      })
      .fail((error) => {
        console.error(error);
      })
  }
  page.commands.getAllCategoriesUp = () => {
    return $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      type: "GET",
      url: page.urls.getAllCategories
    })
            .done((data) => {

              page.dialogs.elements.categoryUp.empty();

              data.map(item => {
                let str = `<option value="${item.id}">${item.name}</option>`;
                page.dialogs.elements.categoryUp.append(str);
              })
            })
            .fail((error) => {
              console.error(error);
            })
  }
  page.commands.getProductById = (productId) => {
    return $.ajax({
      type: "GET",
      url: page.urls.getProductById + "/" + productId
    })
            .done((data) => {

            })
            .fail((error) => {
              console.error(error);
            })
  }
  function renderProduct(product, avatar) {
    return `
                    <tr id="tr_${product.id}">
                        <td>${product.id}</td>
                        <td><img src="${App.SERVER_CLOUDINARY + App.SCALE_W150_H150_Q100 + "/" + avatar.fileFolder + "/" + avatar.fileName}" alt="avatar" ></td>
                        <td>${product.title}</td>
                        <td>${new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(product.price)}</td>
                        <td>${new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(product.oldPrice)}</td>
                        <td>${product.discount}</td>
                        <td>${product.quantity}</td>
                        <td>${product.category.name}</td>
                        <td>${product.description}</td>
                        <td>
                            <button class="btn btn-outline-primary update" data-id="${product.id}" data-avatar-folder="${avatar.fileFolder}" data-avatar-file-name="${avatar.fileName}" title="Chỉnh sửa" data-toggle="tooltip">
                                <i class="fa-regular fa-pen-to-square " aria-hidden="true"></i>
                            </button>
                        </td>

                        <td>
                            <button id="btnDelete_${product.id}" class="btn btn-outline-danger delete" data-id="${product.id}" title="Xóa" data-toggle="tooltip">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            </button>

                        </td>
                    </tr>
                `;
  }

  page.elements.btnShowCreateModal.on("click", () => {
    page.dialogs.elements.modalCreate.modal("show");
    page.dialogs.elements.btnClearImagePreview.trigger("click");
  })
  page.commands.handleShowUpdateModal = () => {

    $(".update").on("click", function () {
      let id = $(this).data("id");

      let avatarFileName = $(this).data("avatar-file-name");
      let avatarFolder = $(this).data("avatar-folder");

      let avatarUrl = App.SERVER_CLOUDINARY + App.SCALE_W250_H250_Q100 + "/" + avatarFolder + "/" + avatarFileName;

      page.commands.getProductById(id).then((data) => {
        product = data;
        category = product.category;

        page.dialogs.elements.titleUp.val(product.title);
        page.dialogs.elements.priceUp.val(product.price);
        page.dialogs.elements.quantityUp.val(product.quantity);
        page.dialogs.elements.descriptionUp.val(product.description);
        page.dialogs.elements.oldPriceUp.val(product.oldPrice);
        page.dialogs.elements.discountUp.val(product.discount);

        page.dialogs.elements.newCheckUp.val(product.newCheck);

        page.commands.getAllCategoriesUp().then(() => {
          page.dialogs.elements.categoryUp.val(category.id);
        })

        page.dialogs.commands.loadImageToCanvasUp(avatarUrl);

        page.dialogs.elements.modalUpdate.modal("show");

      }).catch(() => {
        App.SweetAlert.showAlertError(App.AlertMessageVi.ERROR_404);
      });
    })
  }
  page.commands.handleShowDeleteModal = () => {
    $(".delete").on("click", function () {
      let id = $(this).data("id");
      this.blur();
      page.commands.getProductById(id).then((data) => {
        Swal.fire({
          title: 'Chắc chắn?',
          text: "Xóa sản phẩm: " + data.title,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Xóa!',
          cancelButtonText: 'Hủy!'
        }).then((result) => {
          if (result.isConfirmed) {
            data.deleted = 1;
            page.commands.deleteProduct(data);
          }
        })
      }).catch(() => {
        App.SweetAlert.showAlertError(App.AlertMessageVi.ERROR_404);
      });
    })
  }


  page.dialogs.elements.btnCreate.on("click", () => {
    page.dialogs.elements.frmCreateProduct.trigger("submit");
  })
  page.dialogs.elements.btnUpdate.on("click", () => {
    page.dialogs.elements.frmUpdateProduct.trigger("submit");
  })

  $.validator.addMethod(
          "regex",
          function(value, element, regexp) {
            var check = false;
            return this.optional(element) || regexp.test(value);
          },
          "Please check your input."
  );


  page.dialogs.elements.frmCreateProduct.validate({
    rules: {
      titleCre: {
        required: true
      },
      priceCre: {
        required: true
      },
      quantityCre: {
        required:true
      }
    },
    messages: {
      titleCre: {
        required: "Vui lòng nhập tên sản phẩm"
      },
      priceCre: {
        required: "Vui lòng nhập giá sản phẩm"
      },
      quantityCre: {
        required: "Vui lòng nhập số lượng sản phẩm"
      }
    },
    errorLabelContainer: "#modalCreate .modal-body .modal-alert-danger",
    errorElement : "li",
    errorPlacement: function (error, element) {
      error.appendTo("#modalCreate .modal-body .modal-alert-danger");
    },
    showErrors: function(errorMap, errorList) {
      if (this.numberOfInvalids() > 0) {
        $("#modalCreate .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
      } else {
        $("#modalCreate .modal-body .modal-alert-danger").removeClass("show").addClass("hide").empty();
        $("#frmCreateProduct input.error").removeClass("error");
      }
      this.defaultShowErrors();
    },
    submitHandler: function () {
      page.commands.createProduct();
    }
  })
  page.dialogs.elements.frmUpdateProduct.validate({
    rules: {
      titleUp: {
        required: true
      },
      priceUp: {
        required: true
      },
      quantityUp: {
        required:true
      }
    },
    messages: {
      titleUp: {
        required: "Vui lòng nhập tên sản phẩm"
      },
      priceUp: {
        required: "Vui lòng nhập giá sản phẩm"
      },
      quantityUp: {
        required: "Vui lòng nhập số lượng sản phẩm"
      }
    },
    errorLabelContainer: "#modalUpdate .modal-body .modal-alert-danger",
    errorElement : "li",
    errorPlacement: function (error, element) {
      error.appendTo("#modalUpdate .modal-body .modal-alert-danger");
    },
    showErrors: function(errorMap, errorList) {
      if (this.numberOfInvalids() > 0) {
        $("#modalUpdate .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
      } else {
        $("#modalUpdate .modal-body .modal-alert-danger").removeClass("show").addClass("hide").empty();
        $("#frmUpdateProduct input.error").removeClass("error");
      }
      this.defaultShowErrors();
    },
    submitHandler: function () {
      page.commands.updateProduct();
    }
  })

  page.commands.createProduct = () => {
    page.elements.loader.removeClass("hide");
    page.dialogs.elements.btnCreate.prop('disabled', true);

    let formData = new FormData();

    formData.append("title", page.dialogs.elements.titleCre.val().toString());
    formData.append("price", toNumber(page.dialogs.elements.priceCre.val()).toString());
    formData.append("quantity", toNumber(page.dialogs.elements.quantityCre.val()).toString());
    formData.append("description", page.dialogs.elements.descriptionCre.val().toString());
    formData.append("discount", page.dialogs.elements.discountCre.val().toString());
    formData.append("categoryId", page.dialogs.elements.categoryCre.val().toString());
    if ($('#newCheckCre').is(":checked"))
    {
      formData.append("newCheck", true);
    }
    formData.append("file", page.dialogs.elements.imageFile[0].files[0]);

    page.dialogs.alertDanger.modalCreate.removeClass("show").addClass("hide").empty();

    $.ajax({
      type: "POST",
      contentType: false,
      cache: false,
      processData: false,
      url: page.urls.createProduct,
      data: formData
    }).done((data) => {
      let product = data;
      let avatar = product.avatar;
      let str = renderProduct(product,avatar);
      page.elements.tbProductBody.prepend(str);
      page.dialogs.elements.modalCreate.modal("hide");

      page.commands.removeEventShow();
      page.commands.handleEventShow();
      App.SweetAlert.showAlertSuccess(App.AlertMessageVi.SUCCESS_CREATED);

    }).fail((jqXHR) => {
      page.dialogs.alertDanger.modalCreate.removeClass("hide").addClass("show");
      let errors = jqXHR.responseJSON;

      if (errors) {
        let str = "";
        $.each(errors, (k, v) => {
          str += `
                            <li><label for="${k + 'Cre'}">${v}</label></li>
                        `;
        })

        page.dialogs.alertDanger.modalCreate.append(str);
      }
    }).always(function () {
      page.elements.loader.addClass("hide");
      page.dialogs.elements.btnCreate.attr('disabled', false);
    });
  }
  page.commands.updateProduct = () => {
    page.elements.loader.removeClass("hide");
    page.dialogs.elements.btnUpdate.prop('disabled', true);

    let formData = new FormData();
    formData.append("title", page.dialogs.elements.titleUp.val().toString());
    formData.append("price", toNumber(page.dialogs.elements.priceUp.val()).toString());
    formData.append("quantity", toNumber(page.dialogs.elements.quantityUp.val()).toString());
    formData.append("description", page.dialogs.elements.descriptionUp.val().toString());

    formData.append("discount", page.dialogs.elements.discountUp.val().toString());
    formData.append("categoryId", page.dialogs.elements.categoryUp.val().toString());
    formData.append("oldPrice", toNumber(page.dialogs.elements.oldPriceUp.val()).toString());
    if ($('#newCheckUp').is(":checked"))
    {
      formData.append("newCheck", true);
    }

    if (page.dialogs.elements.imageFileUp[0].files[0] != undefined) {
      formData.append("file", page.dialogs.elements.imageFileUp[0].files[0]);
    }

    page.dialogs.alertDanger.modalUpdate.removeClass("show").addClass("hide").empty();
    $.ajax({
      type: "PATCH",
      contentType: false,
      cache: false,
      processData: false,
      url:page.urls.updateProduct + "/" + product.id,
      data: formData
    })
            .done((data) => {

              product = data;
              let avatar = product.avatar;
              let str = renderProduct(product, avatar);

              $("#tr_" + product.id).replaceWith(str);

              page.dialogs.elements.modalUpdate.modal("hide");
              page.commands.removeEventShow();
              page.commands.handleEventShow();
              App.SweetAlert.showAlertSuccess(App.AlertMessageVi.SUCCESS_UPDATED);
            })
            .fail((jqXHR) => {
              page.dialogs.alertDanger.modalUpdate.removeClass("hide").addClass("show");
              let errors = jqXHR.responseJSON;
              if (errors) {
                let str = "";
                $.each(errors, (k, v) => {
                  str += `
                      <li><label for="${k + 'Up'}">${v}</label></li>
                  `;
                })

                page.dialogs.alertDanger.modalUpdate.append(str);
              }
            }).always(function () {
      page.elements.loader.addClass("hide");
      page.dialogs.elements.btnUpdate.attr('disabled', false);
    });
  }
  page.commands.deleteProduct = (obj) => {
    $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      type: "PATCH",
      url: page.urls.deleteProduct + "/" + obj.id,
      data: JSON.stringify(obj)
    }).done((data) => {

      $("#tr_" + obj.id).empty();

      $('#tbProduct').DataTable().ajax.reload(data)
      App.SweetAlert.showAlertSuccess('Đã xóa! Sản phẩm ' +data.title);


    })
      .fail((error) => {
        if (error.status == 403) {
          App.SweetAlert.showAlertError("Xin lỗi, bạn không có quyền này!");
        } else {
          App.SweetAlert.showAlertError(App.AlertMessageVi.ERROR_500);
        }

      })
  }

  page.dialogs.commands.loadImageToCanvas = (imageFile) => {
    page.dialogs.elements.imagePreview.css("display", "");
    page.dialogs.elements.wrapper.addClass("active");
    page.dialogs.elements.wrapperContent.css("opacity", 0);

    let imageObj = new Image();

    imageObj.onload = function () {
      page.dialogs.elements.context.canvas.width = imageObj.width;
      page.dialogs.elements.context.canvas.height = imageObj.height;
      page.dialogs.elements.context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
    };

    imageObj.src = URL.createObjectURL(imageFile)
  }
  page.dialogs.commands.changeImagePreview = () => {
    let imageFile = page.dialogs.elements.imageFile[0].files[0];

    if (imageFile) {
      let reader = new FileReader();

      reader.readAsDataURL(imageFile);

      reader.onload = function(e){
        if (e.target.readyState === FileReader.DONE) {
          page.dialogs.commands.loadImageToCanvas(imageFile);
        }
      }
    } else {
      page.dialogs.elements.clearImagePreview();
    }
  }
  page.dialogs.elements.clearImagePreview = () => {
    page.dialogs.elements.imageFile.val("");
    page.dialogs.elements.imagePreview.css("display", "none");
    page.dialogs.elements.wrapper.removeClass("active");
    page.dialogs.elements.wrapperContent.css("opacity", 1);
  }

  page.dialogs.commands.loadImageToCanvasUp = (imageFile, event = "load") => {
    page.dialogs.elements.imagePreviewUp.css("display", "");
    page.dialogs.elements.wrapperUp.addClass("active");
    page.dialogs.elements.wrapperContentUp.css("opacity", 0);

    let imageObj = new Image();

    imageObj.onload = function () {
      page.dialogs.elements.contextUp.canvas.width = imageObj.width;
      page.dialogs.elements.contextUp.canvas.height = imageObj.height;
      page.dialogs.elements.contextUp.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
    };

    return (event === "load") ? (imageObj.src = imageFile) : (imageObj.src = URL.createObjectURL(imageFile));

  }
  page.dialogs.commands.changeImagePreviewUp = () => {
    let imageFile = page.dialogs.elements.imageFileUp[0].files[0];

    if (imageFile) {
      let reader = new FileReader();

      reader.readAsDataURL(imageFile);

      reader.onload = function(e){
        if (e.target.readyState === FileReader.DONE) {
          page.dialogs.commands.loadImageToCanvasUp(imageFile, "change");
        }
      }
    } else {
      page.dialogs.elements.clearImagePreviewUp();
    }
  }
  page.dialogs.elements.clearImagePreviewUp = () => {
    page.dialogs.elements.imageFileUp.val("");
    page.dialogs.elements.imagePreviewUp.css("display", "none");
    page.dialogs.elements.wrapperUp.removeClass("active");
    page.dialogs.elements.wrapperContentUp.css("opacity", 1);
  }

  page.commands.removeEventShowUpdateModal = () => {
    $(".update").off();
  }
  page.commands.removeEventShowDeleteModal = () => {
    $(".delete").off();
  }

  page.commands.handleEventShow = () => {
    page.commands.handleShowDeleteModal();
    page.commands.handleShowUpdateModal();
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  }
  page.commands.removeEventShow = () => {
    page.commands.removeEventShowUpdateModal();
    page.commands.removeEventShowDeleteModal();
  }

  page.dialogs.commands.handleCloseCreateModal = () => {
    page.dialogs.alertDanger.modalCreate.removeClass("show").addClass("hide").empty();
    page.dialogs.elements.frmCreateProduct[0].reset();
    page.dialogs.elements.frmCreateProduct.validate().resetForm();
  }
  page.dialogs.commands.handleCloseUpdateModal = () => {
    page.dialogs.alertDanger.modalUpdate.removeClass("show").addClass("hide").empty();
    page.dialogs.elements.frmUpdateProduct[0].reset();
    page.dialogs.elements.frmUpdateProduct.validate().resetForm();
    page.dialogs.elements.clearImagePreviewUp();
  }

  page.commands.addAnimation = () => {
    $(function () {
      $("#tbProduct").DataTable({
        "responsive": true,
        "lengthChange": false,
        "autoWidth": false,
        "iDisplayLength":3,
        "language": {
          "paginate": {
            "previous": "Trước",
            "next":"Sau",
            "last": "Cuối",
            "first": "Đầu",
          },
          "search": "Tìm kiếm",
          "info": "Hiện _START_ đến _END_ trong _TOTAL_ kết quả"
        },
        "pagingType": "full_numbers"

      });
    });
  }

  page.commands.loadData = () => {
    page.commands.getAllProducts();
    page.commands.getAllCategories();

  }

  page.initializeEventControl = () => {
    page.dialogs.elements.modalCreate.on("hidden.bs.modal", function () {
      page.dialogs.commands.handleCloseCreateModal();
    });
    page.dialogs.elements.modalUpdate.on("hidden.bs.modal", function () {
      page.dialogs.commands.handleCloseUpdateModal();
    });

    page.dialogs.elements.divImagePreview.on("click", function () {
      page.dialogs.elements.imageFile.trigger("click");
    });
    page.dialogs.elements.imageFile.on("change", function () {
      page.dialogs.commands.changeImagePreview();
    });
    page.dialogs.elements.btnClearImagePreview.on("click", function () {
      page.dialogs.elements.clearImagePreview();
    });

    page.dialogs.elements.divImagePreviewUp.on("click", function () {
      page.dialogs.elements.imageFileUp.trigger("click");
    });
    page.dialogs.elements.imageFileUp.on("change", function () {
      page.dialogs.commands.changeImagePreviewUp();
    });
    page.dialogs.elements.btnClearImagePreviewUp.on("click", function () {
      page.dialogs.elements.clearImagePreviewUp();
    });
  }


  $(() => {
    page.commands.loadData();

    page.initializeEventControl();
  });

  function onLoad(loading, loaded) {
    if(document.readyState === 'complete'){
      return loaded();
    }
    loading();
    if (window.addEventListener) {
      window.addEventListener('load', loaded, false);
    }
    else if (window.attachEvent) {
      window.attachEvent('onload', loaded);
    }
  };
  setTimeout(function () {
    onLoad(function(){
              console.log('I am waiting for the page to be loaded');
            },
            function(){
              page.commands.addAnimation();
            });
  }, 1000);


</script>

</body>
</html>
