<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="script">
    <script src="/assets/sweetalert2/sweetalert2@11.js"></script>
    <script src="/assets/jquery/jquery-3.6.1.min.js"></script>
    <script src="/assets/jquery/jquery.validate-1.19.5.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/jquery/easy-number-separator.js"></script>


<!--    <script src="/assets/web/js/jquery.min.js"></script>-->
    <script src="/assets/web/js/bootstrap.min.js"></script>
    <script src="/assets/web/js/slick.min.js"></script>
    <script src="/assets/web/js/nouislider.min.js"></script>
    <script src="/assets/web/js/jquery.zoom.min.js"></script>
<!--    <script src="/assets/web/js/main.js"></script>-->

</th:block>