<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <th:block th:replace="/layout/admin/head :: head"/>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="/assets/admin/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <th:block th:replace="/layout/admin/navbar :: navbar"/>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <th:block th:replace="/layout/admin/customers/sidebar :: sidebar"/>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>KHÁCH HÀNG</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item active">khách hàng</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Danh sách khách hàng của cửa hàng bạn</h3>
                <input id="btnShowCreateModal" type="submit" value="Thêm mới khách hàng"
                       class="btn btn-outline-info float-right" title="Create" data-toggle="tooltip">
              </div>

              <!-- /.card-header -->
              <div class="card-body">
                <table id="tbCustomer" class="table table-bordered table-hover dataTable-table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Ảnh</th>
                      <th>Họ và tên</th>
                      <th>Email</th>
                      <th>Điện thoại</th>
                      <th>Tỉnh</th>
                      <th>Huyện</th>
                      <th>Xã</th>
                      <th>Địa chỉ</th>
                      <th colspan="2">Thao tác</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <div class="loader hide"></div>

  <th:block th:replace="/layout/admin/footer :: footer" />

</div>
<!-- ./wrapper -->

<!--Create Modal -->
<th:block th:replace="/admin/modalCreateCustomer :: modalCreateCustomer"/>
<!--Update Modal -->
<th:block th:replace="/admin/modalEditCustomer :: modalEditCustomer"/>


<th:block th:replace="/layout/admin/products/scriptProducts :: scriptProducts"/>



<script>
  const page = {
    urls: {
      getAllCustomers: App.CUSTOMER_API,
      getCustomerById: App.CUSTOMER_API,
      createCustomer: App.CUSTOMER_API,
      updateCustomer: App.CUSTOMER_API,

      deleteCustomer: App.CUSTOMER_API + "/delete",

      getAllProvinces: App.PROVINCE_API,
      getAllDistricts: App.DISTRICT_API,
      getAllWards: App.WARD_API

    },
    elements: {},
    loadData: {},
    commands: {},
    dialogs: {
      elements: {},
      loadData: {},
      commands: {},
      alertDanger: {}
    },
    initializeEventControl: {}
  }

  page.elements.loader = $(".loader");

  page.elements.btnShowCreateModal = $("#btnShowCreateModal");
  page.elements.tbCustomer = $("#tbCustomer");
  page.elements.tbCustomerBody = $("#tbCustomer tbody");

  page.dialogs.elements.modalCreate = $("#modalCreate");
  page.dialogs.elements.frmCreateCustomer = $("#frmCreateCustomer");
  page.dialogs.elements.fullNameCre = $("#fullNameCre");
  page.dialogs.elements.emailCre = $("#emailCre");
  page.dialogs.elements.phoneCre = $("#phoneCre");
  page.dialogs.elements.addressCre = $("#addressCre");
  page.dialogs.elements.btnCreate = $("#btnCreate");
  page.dialogs.elements.provinceCre = $("#provinceCre");
  page.dialogs.elements.districtCre = $("#districtCre");
  page.dialogs.elements.wardCre = $("#wardCre");
  page.dialogs.elements.addressCre = $("#addressCre");

  page.dialogs.elements.modalUpdate = $("#modalUpdate");
  page.dialogs.elements.frmUpdateCustomer = $("#frmUpdateCustomer");
  page.dialogs.elements.customerIdUp = $("#customerIdUp");
  page.dialogs.elements.fullNameUp = $("#fullNameUp");
  page.dialogs.elements.emailUp = $("#emailUp");
  page.dialogs.elements.phoneUp = $("#phoneUp");
  page.dialogs.elements.addressUp = $("#addressUp");
  page.dialogs.elements.provinceUp = $("#provinceUp");
  page.dialogs.elements.districtUp = $("#districtUp");
  page.dialogs.elements.wardUp = $("#wardUp");
  page.dialogs.elements.btnUpdate = $("#btnUpdate");

  page.dialogs.alertDanger.modalUpdate = $("#modalUpdate .modal-body .modal-alert-danger");
  page.dialogs.alertDanger.modalCreate = $("#modalCreate .modal-body .modal-alert-danger");
  page.dialogs.alertDanger.modalDeposit = $("#modalDeposit .modal-body .modal-alert-danger");
  page.dialogs.alertDanger.modalWithdraw = $("#modalWithdraw .modal-body .modal-alert-danger");
  page.dialogs.alertDanger.modalTransfer = $("#modalTransfer .modal-body .modal-alert-danger");


  page.dialogs.elements.wrapper = $("#frmCreateCustomer section .wrappers");
  page.dialogs.elements.imageFile = $("#imageFile");
  page.dialogs.elements.wrapperContent = $("#frmCreateCustomer section .wrappers .content");
  page.dialogs.elements.imagePreview = $("#frmCreateCustomer section .image-preview canvas");
  page.dialogs.elements.canvas = $("#canvas");
  page.dialogs.elements.context = page.dialogs.elements.canvas[0].getContext('2d');
  page.dialogs.elements.imagePreview.css("display", "none");
  page.dialogs.elements.divImagePreview = $("#frmCreateCustomer div.image-preview,#frmCreateCustomer div.file-name");
  page.dialogs.elements.btnClearImagePreview = $("#frmCreateCustomer .clear-image-preview i");

  page.dialogs.elements.wrapperUp = $("#frmUpdateCustomer section .wrappers");
  page.dialogs.elements.imageFileUp = $("#imageFileUp");
  page.dialogs.elements.wrapperContentUp = $("#frmUpdateCustomer section .wrappers .content");
  page.dialogs.elements.imagePreviewUp = $("#frmUpdateCustomer section .image-preview canvas");
  page.dialogs.elements.canvasUp = $("#canvasUp");
  page.dialogs.elements.contextUp = page.dialogs.elements.canvasUp[0].getContext('2d');
  page.dialogs.elements.imagePreviewUp.css("display", "none");
  page.dialogs.elements.divImagePreviewUp = $("#frmUpdateCustomer div.image-preview, #frmUpdateCustomer div.file-name");
  page.dialogs.elements.btnClearImagePreviewUp = $("#frmUpdateCustomer .clear-image-preview i");

  let customer = new Customer();
  let locationRegion = new LocationRegion();

  page.commands.getAllCustomers = () => {
    $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      type: "GET",
      url: page.urls.getAllCustomers
    })
            .done((data) => {

              $.each(data, (i, item) => {

                customer = item;
                locationRegion = customer.locationRegion;
                if (customer.avatarDTO.fileName === null) {
                  customer.avatarDTO.fileName = "default_ie77t2.png";
                  customer.avatarDTO.fileFolder = "avatar_images";
                }

                let avatar = customer.avatarDTO;
                let str = renderCustomer(customer, locationRegion, avatar);
                // let str = renderCustomer(customer, locationRegion);

                page.elements.tbCustomerBody.prepend(str);
              })
              page.commands.handleEventShow();
            })
            .fail((error) => {
              console.error(error);
            })
  }
  page.commands.getAllProvinces = (objEnd) => {
    return  $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      type: "GET",
      url: page.urls.getAllProvinces
    })
            .done((data) => {

              $(`#province${objEnd}`).empty()

              let results = data.results;

              results.map(item => {
                let str = `<option value="${item.province_id}">${item.province_name}</option>`;
                $(`#province${objEnd}`).append(str);
              })
            })
            .fail((error) => {
              App.SweetAlert.showAlertError("Lỗi hệ thống, không tìm thấy thông tin tỉnh");
            })
  }
  page.commands.getAllDistricts = (provinceId,objEnd) => {
    return  $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      type: "GET",
      url: page.urls.getAllDistricts + provinceId
    })
            .done((data) => {
              $(`#district${objEnd}`).empty()

              let results = data.results;

              results.map(item => {
                let str = `<option value="${item.district_id}">${item.district_name}</option>`;
                $(`#district${objEnd}`).append(str);
              })
            })
            .fail((error) => {
              App.SweetAlert.showAlertError("Lỗi hệ thống, không tìm thấy thông tin quận, huyện");
            })
  }
  page.commands.getAllWards = (districtId,objEnd) => {
    return  $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      type: "GET",
      url: page.urls.getAllWards + districtId
    })
            .done((data) => {
              $(`#ward${objEnd}`).empty()

              let results = data.results;

              results.map(item => {
                let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;
                $(`#ward${objEnd}`).append(str);
              })
            })
            .fail((error) => {
              App.SweetAlert.showAlertError("Lỗi hệ thống, không tìm thấy thông tin phường, xã");
            })
  }
  page.commands.getCustomerById = (customerId) => {
    return $.ajax({
      type: "GET",
      url: page.urls.getCustomerById + "/" + customerId
    })
            .done((data) => {
              // customer = data;
            })
            .fail((error) => {
              console.error(error);
            })
  }

  function renderCustomer(customer, locationRegion, avatar) {
    return `
                    <tr id="tr_${customer.id}">
                        <td>${customer.id}</td>
                        <td><img src="${App.SERVER_CLOUDINARY + App.SCALE_W150_H150_Q100 + "/" + avatar.fileFolder + "/" + avatar.fileName}" alt="avatar" ></td>
                        <td>${customer.fullName}</td>
                        <td>${customer.email}</td>
                        <td>${customer.phone}</td>

                        <td>${locationRegion.provinceName}</td>
                        <td>${locationRegion.districtName}</td>
                        <td>${locationRegion.wardName}</td>
                        <td>${locationRegion.address}</td>
                        <td>
                            <button class="btn btn-outline-secondary update" data-id="${customer.id}" data-avatar-folder="${avatar.fileFolder}" data-avatar-file-name="${avatar.fileName}" title="Edit" data-toggle="tooltip">
                                <i class="fa-regular fa-pen-to-square " aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>

                            <button class="btn btn-outline-danger delete" data-id="${customer.id}" title="Suspend" data-toggle="tooltip">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            </button>

                        </td>
                    </tr>
                `;
  }

  page.commands.deleteCustomer = (obj) => {
    $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      type: "PATCH",
      url: page.urls.deleteCustomer + "/" + obj.id,
      data: JSON.stringify(obj)
    })
            .done((data) => {

              $("#tr_" + obj.id).empty()
              App.SweetAlert.showAlertSuccess('Đã xóa! Khách hàng ' +data.fullName)

            })
            .fail((error) => {
              if (error.status == 403) {
                App.SweetAlert.showAlertError("Xin lỗi, bạn không có quyền này!");
              } else {
                App.SweetAlert.showAlertError(App.AlertMessageVi.ERROR_500);
              }

            })
  }


  page.dialogs.elements.btnCreate.on("click", () => {
    page.dialogs.elements.frmCreateCustomer.trigger("submit");
  })
  page.dialogs.elements.btnUpdate.on("click", () => {
    page.dialogs.elements.frmUpdateCustomer.trigger("submit");
  })

  page.dialogs.elements.provinceCre.on("change", function() {
    let provinceId = page.dialogs.elements.provinceCre.val();
    page.commands.getAllDistricts(provinceId,"Cre").then( () => {
      let districtId = page.dialogs.elements.districtCre.val();
      page.commands.getAllWards(districtId,"Cre");
    });

  })
  page.dialogs.elements.districtCre.on("change", function() {
    let districtId = page.dialogs.elements.districtCre.val();
    page.commands.getAllWards(districtId,"Cre");
  })

  page.dialogs.elements.provinceUp.on("change", function() {
    let provinceId = page.dialogs.elements.provinceUp.val();

    page.commands.getAllDistricts(provinceId,"Up").then( () => {
      let districtId = page.dialogs.elements.districtUp.val();
      page.commands.getAllWards(districtId,"Up");
    });

  })
  page.dialogs.elements.districtUp.on("change", function() {
    let districtId = page.dialogs.elements.districtUp.val();
    page.commands.getAllWards(districtId,"Up");
  })

  page.elements.btnShowCreateModal.on("click", () => {
    page.dialogs.elements.modalCreate.modal("show");
    page.dialogs.elements.btnClearImagePreview.trigger("click");
  })

  page.commands.handleShowUpdateModal = () => {

    $(".update").on("click", function () {
      let id = $(this).data("id");

      let avatarFileName = $(this).data("avatar-file-name");
      let avatarFolder = $(this).data("avatar-folder");

      let avatarUrl = App.SERVER_CLOUDINARY + App.SCALE_W250_H250_Q100 + "/" + avatarFolder + "/" + avatarFileName;

      page.commands.getCustomerById(id).then((data) => {
        customer = data;
        locationRegion = customer.locationRegion;

        page.dialogs.elements.customerIdUp.val(id);
        page.dialogs.elements.fullNameUp.val(customer.fullName);
        page.dialogs.elements.emailUp.val(customer.email);
        page.dialogs.elements.phoneUp.val(customer.phone);
        page.dialogs.elements.addressUp.val(locationRegion.address);

        page.dialogs.commands.loadImageToCanvasUp(avatarUrl);

        page.commands.getAllProvinces("Up").then(() => {
          page.dialogs.elements.provinceUp.val(locationRegion.provinceId);

          let provinceId = page.dialogs.elements.provinceUp.val();
          page.commands.getAllDistricts(provinceId,"Up").then(() => {
            page.dialogs.elements.districtUp.val(locationRegion.districtId);

            let districtId = page.dialogs.elements.districtUp.val();
            page.commands.getAllWards(districtId,"Up").then( () => {
              page.dialogs.elements.wardUp.val(locationRegion.wardId);
            })
          });

        }).catch( () => {
          alert("Không tải được danh sách tỉnh")
        })

        page.dialogs.elements.modalUpdate.modal("show");

      })
              .catch(() => {
                App.SweetAlert.showAlertError(App.AlertMessageVi.ERROR_404);
              });
    })
  }
  page.commands.removeEventShowUpdateModal = () => {
    $(".update").off();
  }

  page.commands.handleShowDeleteModal = () => {
    $(".delete").on("click", function () {
      this.blur();
      let id = $(this).data("id");

      page.commands.getCustomerById(id).then((data) => {
        Swal.fire({
          title: 'Chắc chắn?',
          text: "Xóa khách hàng: " + data.fullName,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Xóa!',
          cancelButtonText: 'Hủy!'
        }).then((result) => {
          if (result.isConfirmed) {
            // Swal.fire(
            //     'Đã xóa!',
            //     'Khách hàng ' +data.fullName + ' đã bị xóa.',
            //     'success'
            // )
            data.deleted = 1;
            page.commands.deleteCustomer(data);
          }
        })
      })
              .catch(() => {
                App.SweetAlert.showAlertError(App.AlertMessageVi.ERROR_404);
              });
    })
  }
  page.commands.removeEventShowDeleteModal = () => {
    $(".delete").off();
  }

  page.commands.handleEventShow = () => {
    page.commands.handleShowUpdateModal();
    page.commands.handleShowDeleteModal();
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  }
  page.commands.removeEventShow = () => {
    page.commands.removeEventShowUpdateModal();
    page.commands.removeEventShowDeleteModal();
  }

  page.dialogs.commands.handleCloseCreateModal = () => {
    page.dialogs.alertDanger.modalCreate.removeClass("show").addClass("hide").empty();
    page.dialogs.elements.frmCreateCustomer[0].reset();
    page.dialogs.elements.frmCreateCustomer.validate().resetForm();
  }
  page.dialogs.commands.handleCloseUpdateModal = () => {
    // page.dialogs.elements.frmUpdateCustomer.find("input.error").removeClass("error");
    page.dialogs.alertDanger.modalUpdate.removeClass("show").addClass("hide").empty();
    page.dialogs.elements.frmUpdateCustomer[0].reset();
    page.dialogs.elements.frmUpdateCustomer.validate().resetForm();
    page.dialogs.elements.clearImagePreviewUp();
  }

  $.validator.methods.email = function (value, element) {
    return this.optional(element) || /^[A-Za-z0-9.]*[A-Za-z0-9]+@[A-Za-z0-9]+(\.[A-Za-z0-9]+).*$/.test(value);
  }
  $.validator.addMethod(
          "regex",
          function(value, element, regexp) {
            var check = false;
            return this.optional(element) || regexp.test(value);
          },
          "Please check your input."
  );

  page.dialogs.elements.frmCreateCustomer.validate({
    rules: {
      fullNameCre: {
        required: true,
        minlength: 3,
        maxlength: 100
      },
      emailCre: {
        required: true,
        email: true
      },
      phoneCre: {
        required: true
      }
    },
    messages: {
      fullNameCre: {
        required: "Họ tên là bắt buộc",
        minlength: "Họ tên có độ dài tối thiếu là 3 ký tự",
        maxlength: "Họ tên có độ dài tối đa là 100 ký tự"
      },
      emailCre: {
        required: "Email là bắt buộc",
        email: "Email không tồn tại"
      },
      phoneCre: {
        required: "Vui lòng nhập số điện thoại",
      }
    },
    errorLabelContainer: "#modalCreate .modal-body .modal-alert-danger",
    errorElement : "li",
    errorPlacement: function (error, element) {
      error.appendTo("#modalCreate .modal-body .modal-alert-danger");
    },
    showErrors: function(errorMap, errorList) {
      if (this.numberOfInvalids() > 0) {
        $("#modalCreate .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
      } else {
        $("#modalCreate .modal-body .modal-alert-danger").removeClass("show").addClass("hide").empty();
        $("#frmCreateProduct input.error").removeClass("error");
      }
      this.defaultShowErrors();
    },
    submitHandler: function () {
      page.commands.createCustomerWithAvatar();
    }
  })
  page.dialogs.elements.frmUpdateCustomer.validate({
    rules: {
      fullNameUp: {
        required: true,
        minlength: 3,
        maxlength: 100
      },
      emailUp: {
        required: true,
        email: true
      },
      phoneUp: {
        required: true
      }
    },
    messages: {
      fullNameUp: {
        required: "Họ tên là bắt buộc",
        minlength: "Họ tên có độ dài tối thiếu là 3 ký tự",
        maxlength: "Họ tên có độ dài tối đa là 100 ký tự"
      },
      emailUp: {
        required: "Email là bắt buộc",
        email: "Email không tồn tại"
      },
      phoneUp: {
        required: "Vui lòng nhập số điện thoại",
      }
    },
    errorLabelContainer: "#modalUpdate .modal-body .modal-alert-danger",
    errorElement : "li",
    errorPlacement: function (error, element) {
      error.appendTo("#modalUpdate .modal-body .modal-alert-danger");
    },
    showErrors: function(errorMap, errorList) {
      if (this.numberOfInvalids() > 0) {
        $("#modalUpdate .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
      } else {
        $("#modalUpdate .modal-body .modal-alert-danger").removeClass("show").addClass("hide").empty();
        $("#frmUpdateProduct input.error").removeClass("error");
      }
      this.defaultShowErrors();
    },
    submitHandler: function () {
      page.commands.updateCustomerWithAvatar();
    }
  })

  page.commands.createCustomerWithAvatar = () => {
    page.elements.loader.removeClass("hide");
    page.dialogs.elements.btnCreate.prop('disabled', true);

    let formData = new FormData();
    formData.append("fullName", page.dialogs.elements.fullNameCre.val().toString());
    formData.append("email", page.dialogs.elements.emailCre.val().toString());
    formData.append("phone", page.dialogs.elements.phoneCre.val().toString());
    if (page.dialogs.elements.imageFile[0].files[0] != undefined) {
      formData.append("file", page.dialogs.elements.imageFile[0].files[0]);
    }

    formData.append("provinceId", page.dialogs.elements.provinceCre.val().toString());
    formData.append("provinceName", page.dialogs.elements.provinceCre.find("option:selected").text());
    formData.append("districtId", page.dialogs.elements.districtCre.val().toString());
    formData.append("districtName", page.dialogs.elements.districtCre.find("option:selected").text());
    formData.append("wardId", page.dialogs.elements.wardCre.val().toString());
    formData.append("wardName", page.dialogs.elements.wardCre.find("option:selected").text());
    formData.append("address", page.dialogs.elements.addressCre.val().toString());

    page.dialogs.alertDanger.modalCreate.removeClass("show").addClass("hide").empty();

    $.ajax({
      type: "POST",
      contentType: false,
      cache: false,
      processData: false,
      url: page.urls.createCustomer,
      data: formData
    }).done((data) => {
      customer = data;
      locationRegion = customer.locationRegion;
      if (customer.avatarDTO.fileName === null) {
        customer.avatarDTO.fileName = "default_ie77t2.png";
        customer.avatarDTO.fileFolder = "avatar_images";
      }
      let avatar = customer.avatarDTO;
      let str = renderCustomer(customer,locationRegion,avatar);
      page.elements.tbCustomerBody.prepend(str);
      page.dialogs.elements.modalCreate.modal("hide");

      page.commands.removeEventShow();
      page.commands.handleEventShow();
      App.SweetAlert.showAlertSuccess(App.AlertMessageVi.SUCCESS_CREATED);

    }).fail((jqXHR) => {
      page.dialogs.alertDanger.modalCreate.removeClass("hide").addClass("show");
      let errors = jqXHR.responseJSON;

      if (errors) {
        let str = "";
        $.each(errors, (k, v) => {
          str += `
                            <li><label for="${k + 'Cre'}">${v}</label></li>
                        `;
        })

        page.dialogs.alertDanger.modalCreate.append(str);
      }
    }).always(function () {
      page.elements.loader.addClass("hide");
      page.dialogs.elements.btnCreate.attr('disabled', false);
    });
  }

  page.commands.updateCustomerWithAvatar = () => {

    page.elements.loader.removeClass("hide");
    page.dialogs.elements.btnUpdate.prop('disabled', true);

    let formData = new FormData();
    formData.append("id", page.dialogs.elements.customerIdUp.val().toString());
    formData.append("fullName", page.dialogs.elements.fullNameUp.val().toString());
    formData.append("email", page.dialogs.elements.emailUp.val().toString());
    formData.append("phone", page.dialogs.elements.phoneUp.val().toString());

    if (page.dialogs.elements.imageFileUp[0].files[0] != undefined) {
      formData.append("file", page.dialogs.elements.imageFileUp[0].files[0]);
    }

    formData.append("deleted", false);

    formData.append("provinceId", page.dialogs.elements.provinceUp.val().toString());
    formData.append("provinceName", page.dialogs.elements.provinceUp.find("option:selected").text());
    formData.append("districtId", page.dialogs.elements.districtUp.val().toString());
    formData.append("districtName", page.dialogs.elements.districtUp.find("option:selected").text());
    formData.append("wardId", page.dialogs.elements.wardUp.val().toString());
    formData.append("wardName", page.dialogs.elements.wardUp.find("option:selected").text());
    formData.append("address", page.dialogs.elements.addressUp.val().toString());

    page.dialogs.alertDanger.modalUpdate.removeClass("show").addClass("hide").empty();
    $.ajax({
      type: "PATCH",
      contentType: false,
      cache: false,
      processData: false,
      url:page.urls.updateCustomer + "/" + customer.id,
      data: formData
    })
      .done((data) => {
        customer = data;
        locationRegion = customer.locationRegion;
        if (customer.avatarDTO.fileName === null) {
          customer.avatarDTO.fileName = "default_ie77t2.png";
          customer.avatarDTO.fileFolder = "avatar_images";
        }
        let avatar = customer.avatarDTO;
        let str = renderCustomer(customer,locationRegion,avatar);

        $("#tr_" + customer.id).replaceWith(str);

        page.dialogs.elements.modalUpdate.modal("hide");
        page.commands.removeEventShow();
        page.commands.handleEventShow();
        App.SweetAlert.showAlertSuccess(App.AlertMessageVi.SUCCESS_UPDATED);
      })
      .fail((jqXHR) => {
        page.dialogs.alertDanger.modalUpdate.removeClass("hide").addClass("show");
        let errors = jqXHR.responseJSON;
        if (errors) {
          let str = "";
          $.each(errors, (k, v) => {
            str += `
                      <li><label for="${k + 'Up'}">${v}</label></li>
                  `;
          })

          page.dialogs.alertDanger.modalUpdate.append(str);
        }
      }).always(function () {
      page.elements.loader.addClass("hide");
      page.dialogs.elements.btnUpdate.attr('disabled', false);
    });
  }

  page.dialogs.commands.loadImageToCanvas = (imageFile) => {
    page.dialogs.elements.imagePreview.css("display", "");
    page.dialogs.elements.wrapper.addClass("active");
    page.dialogs.elements.wrapperContent.css("opacity", 0);

    let imageObj = new Image();

    imageObj.onload = function () {
      page.dialogs.elements.context.canvas.width = imageObj.width;
      page.dialogs.elements.context.canvas.height = imageObj.height;
      page.dialogs.elements.context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
    };

    imageObj.src = URL.createObjectURL(imageFile)
  }
  page.dialogs.commands.changeImagePreview = () => {
    let imageFile = page.dialogs.elements.imageFile[0].files[0];

    if (imageFile) {
      let reader = new FileReader();

      reader.readAsDataURL(imageFile);

      reader.onload = function(e){
        if (e.target.readyState === FileReader.DONE) {
          page.dialogs.commands.loadImageToCanvas(imageFile);
        }
      }
    } else {
      page.dialogs.elements.clearImagePreview();
    }
  }
  page.dialogs.elements.clearImagePreview = () => {
    page.dialogs.elements.imageFile.val("");
    page.dialogs.elements.imagePreview.css("display", "none");
    page.dialogs.elements.wrapper.removeClass("active");
    page.dialogs.elements.wrapperContent.css("opacity", 1);
  }

  page.dialogs.commands.loadImageToCanvasUp = (imageFile, event = "load") => {
    page.dialogs.elements.imagePreviewUp.css("display", "");
    page.dialogs.elements.wrapperUp.addClass("active");
    page.dialogs.elements.wrapperContentUp.css("opacity", 0);

    let imageObj = new Image();

    imageObj.onload = function () {
      page.dialogs.elements.contextUp.canvas.width = imageObj.width;
      page.dialogs.elements.contextUp.canvas.height = imageObj.height;
      page.dialogs.elements.contextUp.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
    };

    return (event === "load") ? (imageObj.src = imageFile) : (imageObj.src = URL.createObjectURL(imageFile));

    // imageObj.src = URL.createObjectURL(imageFile)
  }
  page.dialogs.commands.changeImagePreviewUp = () => {
    let imageFile = page.dialogs.elements.imageFileUp[0].files[0];

    if (imageFile) {
      let reader = new FileReader();

      reader.readAsDataURL(imageFile);

      reader.onload = function(e){
        if (e.target.readyState === FileReader.DONE) {
          page.dialogs.commands.loadImageToCanvasUp(imageFile, "change");
        }
      }
    } else {
      page.dialogs.elements.clearImagePreviewUp();
    }
  }
  page.dialogs.elements.clearImagePreviewUp = () => {
    page.dialogs.elements.imageFileUp.val("");
    page.dialogs.elements.imagePreviewUp.css("display", "none");
    page.dialogs.elements.wrapperUp.removeClass("active");
    page.dialogs.elements.wrapperContentUp.css("opacity", 1);
  }


  page.commands.loadData = () => {
    page.commands.getAllCustomers();

    page.commands.getAllProvinces("Cre").then(() => {
      let provinceId = page.dialogs.elements.provinceCre.val();
      page.commands.getAllDistricts(provinceId,"Cre").then(() => {
        let districtId = page.dialogs.elements.districtCre.val();
        page.commands.getAllWards(districtId,"Cre");
      });
    })
  }

  page.initializeEventControl = () => {

    page.dialogs.elements.modalCreate.on("hidden.bs.modal", function () {
      page.dialogs.commands.handleCloseCreateModal();
    });
    page.dialogs.elements.modalUpdate.on("hidden.bs.modal", function () {
      page.dialogs.commands.handleCloseUpdateModal();
    });

    page.dialogs.elements.divImagePreview.on("click", function () {
      page.dialogs.elements.imageFile.trigger("click");
    });
    page.dialogs.elements.imageFile.on("change", function () {
      page.dialogs.commands.changeImagePreview();
    });
    page.dialogs.elements.btnClearImagePreview.on("click", function () {
      page.dialogs.elements.clearImagePreview();
    });

    page.dialogs.elements.divImagePreviewUp.on("click", function () {
      page.dialogs.elements.imageFileUp.trigger("click");
    });
    page.dialogs.elements.imageFileUp.on("change", function () {
      page.dialogs.commands.changeImagePreviewUp();
    });
    page.dialogs.elements.btnClearImagePreviewUp.on("click", function () {
      page.dialogs.elements.clearImagePreviewUp();
    });

  }


  $(() => {
    page.commands.loadData();

    page.initializeEventControl();
  });



</script>

</body>
</html>
