<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <th:block th:replace="/layout/admin/head :: head"/>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="/assets/admin/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <th:block th:replace="/layout/admin/navbar :: navbar"/>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <th:block th:replace="/layout/admin/staff/sidebar :: sidebar"/>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>NHÂN VIÊN</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item active">khách hàng</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Danh sách nhân viên</h3>
                <input id="btnShowCreateModal" type="submit" value="Thêm mới nhân viên"
                       class="btn btn-outline-info float-right" title="Create" data-toggle="tooltip">
              </div>

              <!-- /.card-header -->
              <!-- Default box -->
              <div class="card card-solid">
                <div class="card-body pb-0">
                  <div class="row" id="bodyContent">


                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <nav aria-label="Contacts Page Navigation">
                    <ul class="pagination justify-content-center m-0">
                      <li class="page-item active"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">5</a></li>
                      <li class="page-item"><a class="page-link" href="#">6</a></li>
                      <li class="page-item"><a class="page-link" href="#">7</a></li>
                      <li class="page-item"><a class="page-link" href="#">8</a></li>
                    </ul>
                  </nav>
                </div>
                <!-- /.card-footer -->
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <div class="loader hide"></div>

  <th:block th:replace="/layout/admin/footer :: footer" />

</div>
<!-- ./wrapper -->

<!--Create Modal -->
<th:block th:replace="/admin/modalCreateStaff :: modalCreateStaff"/>
<!--Update Modal -->
<th:block th:replace="/admin/modalUpdateStaff :: modalUpdateStaff"/>


<th:block th:replace="/layout/admin/products/scriptProducts :: scriptProducts"/>



<script>
  const page = {
    urls: {
      getAllStaffs: App.STAFF_API,
      getStaffById: App.STAFF_API,
      createStaff: App.STAFF_API,
      updateStaff: App.STAFF_API,

      deleteStaff: App.STAFF_API + "/delete",

      getAllProvinces: App.PROVINCE_API,
      getAllDistricts: App.DISTRICT_API,
      getAllWards: App.WARD_API

    },
    elements: {},
    loadData: {},
    commands: {},
    dialogs: {
      elements: {},
      loadData: {},
      commands: {},
      alertDanger: {}
    },
    initializeEventControl: {}
  }

  page.elements.loader = $(".loader");

  page.elements.btnShowCreateModal = $("#btnShowCreateModal");
  page.elements.bodyContent = $("#bodyContent");

  page.dialogs.elements.modalCreate = $("#modalCreate");
  page.dialogs.elements.frmCreateStaff = $("#frmCreateStaff");
  page.dialogs.elements.fullNameCre = $("#fullNameCre");
  page.dialogs.elements.emailCre = $("#emailCre");
  page.dialogs.elements.phoneCre = $("#phoneCre");
  page.dialogs.elements.addressCre = $("#addressCre");
  page.dialogs.elements.btnCreate = $("#btnCreate");
  page.dialogs.elements.provinceCre = $("#provinceCre");
  page.dialogs.elements.districtCre = $("#districtCre");
  page.dialogs.elements.wardCre = $("#wardCre");
  page.dialogs.elements.addressCre = $("#addressCre");

  page.dialogs.elements.modalUpdate = $("#modalUpdate");
  page.dialogs.elements.frmUpdateStaff = $("#frmUpdateStaff");
  page.dialogs.elements.staffIdUp = $("#staffIdUp");
  page.dialogs.elements.fullNameUp = $("#fullNameUp");
  page.dialogs.elements.emailUp = $("#emailUp");
  page.dialogs.elements.phoneUp = $("#phoneUp");
  page.dialogs.elements.addressUp = $("#addressUp");
  page.dialogs.elements.provinceUp = $("#provinceUp");
  page.dialogs.elements.districtUp = $("#districtUp");
  page.dialogs.elements.wardUp = $("#wardUp");
  page.dialogs.elements.btnUpdate = $("#btnUpdate");

  page.dialogs.alertDanger.modalUpdate = $("#modalUpdate .modal-body .modal-alert-danger");
  page.dialogs.alertDanger.modalCreate = $("#modalCreate .modal-body .modal-alert-danger");


  page.dialogs.elements.wrapper = $("#frmCreateStaff section .wrappers");
  page.dialogs.elements.imageFile = $("#imageFile");
  page.dialogs.elements.wrapperContent = $("#frmCreateStaff section .wrappers .content");
  page.dialogs.elements.imagePreview = $("#frmCreateStaff section .image-preview canvas");
  page.dialogs.elements.canvas = $("#canvas");
  page.dialogs.elements.context = page.dialogs.elements.canvas[0].getContext('2d');
  page.dialogs.elements.imagePreview.css("display", "none");
  page.dialogs.elements.divImagePreview = $("#frmCreateStaff div.image-preview,#frmCreateStaff div.file-name");
  page.dialogs.elements.btnClearImagePreview = $("#frmCreateStaff .clear-image-preview i");

  page.dialogs.elements.wrapperUp = $("#frmUpdateStaff section .wrappers");
  page.dialogs.elements.imageFileUp = $("#imageFileUp");
  page.dialogs.elements.wrapperContentUp = $("#frmUpdateStaff section .wrappers .content");
  page.dialogs.elements.imagePreviewUp = $("#frmUpdateStaff section .image-preview canvas");
  page.dialogs.elements.canvasUp = $("#canvasUp");
  page.dialogs.elements.contextUp = page.dialogs.elements.canvasUp[0].getContext('2d');
  page.dialogs.elements.imagePreviewUp.css("display", "none");
  page.dialogs.elements.divImagePreviewUp = $("#frmUpdateStaff div.image-preview, #frmUpdateStaff div.file-name");
  page.dialogs.elements.btnClearImagePreviewUp = $("#frmUpdateStaff .clear-image-preview i");

  let staff = new Staff();
  let locationRegion = new LocationRegion();

  page.commands.getAllStaffs = () => {
    $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      type: "GET",
      url: page.urls.getAllStaffs
    })
            .done((data) => {

              $.each(data, (i, item) => {

                staff = item;
                locationRegion = staff.locationRegion;
                if (staff.avatarDTO.fileName === null) {
                  staff.avatarDTO.fileName = "default_ie77t2.png";
                  staff.avatarDTO.fileFolder = "avatar_images";
                }

                let avatar = staff.avatarDTO;
                let str = renderStaff(staff, locationRegion, avatar);

                page.elements.bodyContent.prepend(str);
              })
              page.commands.handleEventShow();
            })
            .fail((error) => {
              console.error(error);
            })
  }
  page.commands.getAllProvinces = (objEnd) => {
    return  $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      type: "GET",
      url: page.urls.getAllProvinces
    })
            .done((data) => {

              $(`#province${objEnd}`).empty()

              let results = data.results;

              results.map(item => {
                let str = `<option value="${item.province_id}">${item.province_name}</option>`;
                $(`#province${objEnd}`).append(str);
              })
            })
            .fail((error) => {
              App.SweetAlert.showAlertError("Lỗi hệ thống, không tìm thấy thông tin tỉnh");
            })
  }
  page.commands.getAllDistricts = (provinceId,objEnd) => {
    return  $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      type: "GET",
      url: page.urls.getAllDistricts + provinceId
    })
            .done((data) => {
              $(`#district${objEnd}`).empty()

              let results = data.results;

              results.map(item => {
                let str = `<option value="${item.district_id}">${item.district_name}</option>`;
                $(`#district${objEnd}`).append(str);
              })
            })
            .fail((error) => {
              App.SweetAlert.showAlertError("Lỗi hệ thống, không tìm thấy thông tin quận, huyện");
            })
  }
  page.commands.getAllWards = (districtId,objEnd) => {
    return  $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      type: "GET",
      url: page.urls.getAllWards + districtId
    })
            .done((data) => {
              $(`#ward${objEnd}`).empty()

              let results = data.results;

              results.map(item => {
                let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;
                $(`#ward${objEnd}`).append(str);
              })
            })
            .fail((error) => {
              App.SweetAlert.showAlertError("Lỗi hệ thống, không tìm thấy thông tin phường, xã");
            })
  }
  page.commands.getStaffById = (staffId) => {
    return $.ajax({
      type: "GET",
      url: page.urls.getStaffById + "/" + staffId
    })
            .done((data) => {

            })
            .fail((error) => {
              console.error(error);
            })
  }

  function renderStaff(staff, locationRegion, avatar) {
    return `

            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column" id="div_${staff.id}">
                      <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                          ID: ${staff.id}
                        </div>
                        <div class="card-body pt-0">
                          <div class="row">
                            <div class="col-7">
                              <h2 class="lead"><b>${staff.fullName}</b></h2>
                              <p class="text-muted text-sm"><b>About: </b> ${staff.email} </p>
                              <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="small"><span class="fa-li">
                                    <i class="fas fa-lg fa-building"></i>
                                    </span> Address: ${locationRegion.address} - ${locationRegion.wardName},${locationRegion.districtName},${locationRegion.provinceName}</li>
                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: ${staff.phone}</li>
                              </ul>
                            </div>
                            <div class="col-5 text-center">
                              <img src="${App.SERVER_CLOUDINARY + App.SCALE_W150_H150_Q100 + "/" + avatar.fileFolder + "/" + avatar.fileName}" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <div class="text-right">
                           <button class="btn btn-outline-secondary update" data-id="${staff.id}" data-avatar-folder="${avatar.fileFolder}" data-avatar-file-name="${avatar.fileName}" title="Chỉnh sửa" data-toggle="tooltip">
                                <i class="fa-regular fa-pen-to-square " aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-outline-danger delete" data-id="${staff.id}" title="Xóa" data-toggle="tooltip">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            </button>
                            <a href="#" class="btn btn-sm bg-teal">
                              <i class="fas fa-comments"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-primary">
                              <i class="fas fa-user"></i> View Profile
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                `;
  }

  page.commands.deleteStaff = (obj) => {
    $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      type: "PATCH",
      url: page.urls.deleteStaff + "/" + obj.id,
      data: JSON.stringify(obj)
    })
            .done((data) => {

              $("#div_" + obj.id).empty()
              App.SweetAlert.showAlertSuccess('Đã xóa! nhân viên ' +data.fullName)

            })
            .fail((error) => {
              if (error.status == 403) {
                App.SweetAlert.showAlertError("Xin lỗi, bạn không có quyền này!");
              } else {
                App.SweetAlert.showAlertError(App.AlertMessageVi.ERROR_500);
              }

            })
  }


  page.dialogs.elements.btnCreate.on("click", () => {
    page.dialogs.elements.frmCreateStaff.trigger("submit");
  })
  page.dialogs.elements.btnUpdate.on("click", () => {
    page.dialogs.elements.frmUpdateStaff.trigger("submit");
  })

  page.dialogs.elements.provinceCre.on("change", function() {
    let provinceId = page.dialogs.elements.provinceCre.val();
    page.commands.getAllDistricts(provinceId,"Cre").then( () => {
      let districtId = page.dialogs.elements.districtCre.val();
      page.commands.getAllWards(districtId,"Cre");
    });

  })
  page.dialogs.elements.districtCre.on("change", function() {
    let districtId = page.dialogs.elements.districtCre.val();
    page.commands.getAllWards(districtId,"Cre");
  })

  page.dialogs.elements.provinceUp.on("change", function() {
    let provinceId = page.dialogs.elements.provinceUp.val();

    page.commands.getAllDistricts(provinceId,"Up").then( () => {
      let districtId = page.dialogs.elements.districtUp.val();
      page.commands.getAllWards(districtId,"Up");
    });

  })
  page.dialogs.elements.districtUp.on("change", function() {
    let districtId = page.dialogs.elements.districtUp.val();
    page.commands.getAllWards(districtId,"Up");
  })

  page.elements.btnShowCreateModal.on("click", () => {
    page.dialogs.elements.modalCreate.modal("show");
    page.dialogs.elements.btnClearImagePreview.trigger("click");
  })

  page.commands.handleShowUpdateModal = () => {

    $(".update").on("click", function () {
      let id = $(this).data("id");

      let avatarFileName = $(this).data("avatar-file-name");
      let avatarFolder = $(this).data("avatar-folder");

      let avatarUrl = App.SERVER_CLOUDINARY + App.SCALE_W250_H250_Q100 + "/" + avatarFolder + "/" + avatarFileName;

      page.commands.getStaffById(id).then((data) => {
        staff = data;
        locationRegion = staff.locationRegion;

        page.dialogs.elements.staffIdUp.val(id);
        page.dialogs.elements.fullNameUp.val(staff.fullName);
        page.dialogs.elements.emailUp.val(staff.email);
        page.dialogs.elements.phoneUp.val(staff.phone);
        page.dialogs.elements.addressUp.val(locationRegion.address);

        page.dialogs.commands.loadImageToCanvasUp(avatarUrl);

        page.commands.getAllProvinces("Up").then(() => {
          page.dialogs.elements.provinceUp.val(locationRegion.provinceId);

          let provinceId = page.dialogs.elements.provinceUp.val();
          page.commands.getAllDistricts(provinceId,"Up").then(() => {
            page.dialogs.elements.districtUp.val(locationRegion.districtId);

            let districtId = page.dialogs.elements.districtUp.val();
            page.commands.getAllWards(districtId,"Up").then( () => {
              page.dialogs.elements.wardUp.val(locationRegion.wardId);
            })
          });

        }).catch( () => {
          alert("Không tải được danh sách tỉnh")
        })

        page.dialogs.elements.modalUpdate.modal("show");

      })
        .catch(() => {
          App.SweetAlert.showAlertError(App.AlertMessageVi.ERROR_404);
        });
    })
  }
  page.commands.removeEventShowUpdateModal = () => {
    $(".update").off();
  }

  page.commands.handleShowDeleteModal = () => {
    $(".delete").on("click", function () {
      this.blur();
      let id = $(this).data("id");

      page.commands.getStaffById(id).then((data) => {
        Swal.fire({
          title: 'Chắc chắn?',
          text: "Xóa nhân viên: " + data.fullName,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Xóa!',
          cancelButtonText: 'Hủy!'
        }).then((result) => {
          if (result.isConfirmed) {
            data.deleted = 1;
            page.commands.deleteStaff(data);
          }
        })
      })
        .catch(() => {
          App.SweetAlert.showAlertError(App.AlertMessageVi.ERROR_404);
        });
    })
  }
  page.commands.removeEventShowDeleteModal = () => {
    $(".delete").off();
  }

  page.commands.handleEventShow = () => {
    page.commands.handleShowUpdateModal();
    page.commands.handleShowDeleteModal();
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  }
  page.commands.removeEventShow = () => {
    page.commands.removeEventShowUpdateModal();
    page.commands.removeEventShowDeleteModal();
  }

  page.dialogs.commands.handleCloseCreateModal = () => {
    page.dialogs.alertDanger.modalCreate.removeClass("show").addClass("hide").empty();
    page.dialogs.elements.frmCreateStaff[0].reset();
    page.dialogs.elements.frmCreateStaff.validate().resetForm();
  }
  page.dialogs.commands.handleCloseUpdateModal = () => {
    page.dialogs.alertDanger.modalUpdate.removeClass("show").addClass("hide").empty();
    page.dialogs.elements.frmUpdateStaff[0].reset();
    page.dialogs.elements.frmUpdateStaff.validate().resetForm();
    page.dialogs.elements.clearImagePreviewUp();
  }

  $.validator.methods.email = function (value, element) {
    return this.optional(element) || /^[A-Za-z0-9.]*[A-Za-z0-9]+@[A-Za-z0-9]+(\.[A-Za-z0-9]+).*$/.test(value);
  }
  $.validator.addMethod(
          "regex",
          function(value, element, regexp) {
            var check = false;
            return this.optional(element) || regexp.test(value);
          },
          "Please check your input."
  );

  page.dialogs.elements.frmCreateStaff.validate({
    rules: {
      fullNameCre: {
        required: true,
        minlength: 3,
        maxlength: 100
      },
      emailCre: {
        required: true,
        email: true
      },
      phoneCre: {
        required: true
      }
    },
    messages: {
      fullNameCre: {
        required: "Họ tên là bắt buộc",
        minlength: "Họ tên có độ dài tối thiếu là 3 ký tự",
        maxlength: "Họ tên có độ dài tối đa là 100 ký tự"
      },
      emailCre: {
        required: "Email là bắt buộc",
        email: "Email không tồn tại"
      },
      phoneCre: {
        required: "Vui lòng nhập số điện thoại",
      }
    },
    errorLabelContainer: "#modalCreate .modal-body .modal-alert-danger",
    errorElement : "li",
    errorPlacement: function (error, element) {
      error.appendTo("#modalCreate .modal-body .modal-alert-danger");
    },
    showErrors: function(errorMap, errorList) {
      if (this.numberOfInvalids() > 0) {
        $("#modalCreate .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
      } else {
        $("#modalCreate .modal-body .modal-alert-danger").removeClass("show").addClass("hide").empty();
        $("#frmCreateStaff input.error").removeClass("error");
      }
      this.defaultShowErrors();
    },
    submitHandler: function () {
      page.commands.createStaff();
    }
  })
  page.dialogs.elements.frmUpdateStaff.validate({
    rules: {
      fullNameUp: {
        required: true,
        minlength: 3,
        maxlength: 100
      },
      emailUp: {
        required: true,
        email: true
      },
      phoneUp: {
        required: true
      }
    },
    messages: {
      fullNameUp: {
        required: "Họ tên là bắt buộc",
        minlength: "Họ tên có độ dài tối thiếu là 3 ký tự",
        maxlength: "Họ tên có độ dài tối đa là 100 ký tự"
      },
      emailUp: {
        required: "Email là bắt buộc",
        email: "Email không tồn tại"
      },
      phoneUp: {
        required: "Vui lòng nhập số điện thoại",
      }
    },
    errorLabelContainer: "#modalUpdate .modal-body .modal-alert-danger",
    errorElement : "li",
    errorPlacement: function (error, element) {
      error.appendTo("#modalUpdate .modal-body .modal-alert-danger");
    },
    showErrors: function(errorMap, errorList) {
      if (this.numberOfInvalids() > 0) {
        $("#modalUpdate .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
      } else {
        $("#modalUpdate .modal-body .modal-alert-danger").removeClass("show").addClass("hide").empty();
        $("#frmUpdateStaff input.error").removeClass("error");
      }
      this.defaultShowErrors();
    },
    submitHandler: function () {
      page.commands.updateStaff();
    }
  })

  page.commands.createStaff = () => {
    page.elements.loader.removeClass("hide");
    page.dialogs.elements.btnCreate.prop('disabled', true);

    let formData = new FormData();
    formData.append("fullName", page.dialogs.elements.fullNameCre.val().toString());
    formData.append("email", page.dialogs.elements.emailCre.val().toString());
    formData.append("phone", page.dialogs.elements.phoneCre.val().toString());
    if (page.dialogs.elements.imageFile[0].files[0] != undefined) {
      formData.append("file", page.dialogs.elements.imageFile[0].files[0]);
    }

    formData.append("provinceId", page.dialogs.elements.provinceCre.val().toString());
    formData.append("provinceName", page.dialogs.elements.provinceCre.find("option:selected").text());
    formData.append("districtId", page.dialogs.elements.districtCre.val().toString());
    formData.append("districtName", page.dialogs.elements.districtCre.find("option:selected").text());
    formData.append("wardId", page.dialogs.elements.wardCre.val().toString());
    formData.append("wardName", page.dialogs.elements.wardCre.find("option:selected").text());
    formData.append("address", page.dialogs.elements.addressCre.val().toString());

    page.dialogs.alertDanger.modalCreate.removeClass("show").addClass("hide").empty();

    $.ajax({
      type: "POST",
      contentType: false,
      cache: false,
      processData: false,
      url: page.urls.createStaff,
      data: formData
    }).done((data) => {
      staff = data;
      locationRegion = staff.locationRegion;
      if (staff.avatarDTO.fileName === null) {
        staff.avatarDTO.fileName = "default_ie77t2.png";
        staff.avatarDTO.fileFolder = "avatar_images";
      }
      let avatar = staff.avatarDTO;
      let str = renderStaff(staff,locationRegion,avatar);
      page.elements.bodyContent.prepend(str);
      page.dialogs.elements.modalCreate.modal("hide");

      page.commands.removeEventShow();
      page.commands.handleEventShow();
      App.SweetAlert.showAlertSuccess(App.AlertMessageVi.SUCCESS_CREATED);

    }).fail((jqXHR) => {
      page.dialogs.alertDanger.modalCreate.removeClass("hide").addClass("show");
      let errors = jqXHR.responseJSON;

      if (errors) {
        let str = "";
        $.each(errors, (k, v) => {
          str += `
                            <li><label for="${k + 'Cre'}">${v}</label></li>
                        `;
        })

        page.dialogs.alertDanger.modalCreate.append(str);
      }
    }).always(function () {
      page.elements.loader.addClass("hide");
      page.dialogs.elements.btnCreate.attr('disabled', false);
    });
  }

  page.commands.updateStaff = () => {

    page.elements.loader.removeClass("hide");
    page.dialogs.elements.btnUpdate.prop('disabled', true);

    let formData = new FormData();
    formData.append("id", page.dialogs.elements.staffIdUp.val().toString());
    formData.append("fullName", page.dialogs.elements.fullNameUp.val().toString());
    formData.append("email", page.dialogs.elements.emailUp.val().toString());
    formData.append("phone", page.dialogs.elements.phoneUp.val().toString());

    if (page.dialogs.elements.imageFileUp[0].files[0] != undefined) {
      formData.append("file", page.dialogs.elements.imageFileUp[0].files[0]);
    }

    formData.append("deleted", false);

    formData.append("provinceId", page.dialogs.elements.provinceUp.val().toString());
    formData.append("provinceName", page.dialogs.elements.provinceUp.find("option:selected").text());
    formData.append("districtId", page.dialogs.elements.districtUp.val().toString());
    formData.append("districtName", page.dialogs.elements.districtUp.find("option:selected").text());
    formData.append("wardId", page.dialogs.elements.wardUp.val().toString());
    formData.append("wardName", page.dialogs.elements.wardUp.find("option:selected").text());
    formData.append("address", page.dialogs.elements.addressUp.val().toString());

    page.dialogs.alertDanger.modalUpdate.removeClass("show").addClass("hide").empty();
    $.ajax({
      type: "PATCH",
      contentType: false,
      cache: false,
      processData: false,
      url:page.urls.updateStaff + "/" + staff.id,
      data: formData
    })
      .done((data) => {
        staff = data;
        locationRegion = staff.locationRegion;
        if (staff.avatarDTO.fileName === null) {
          staff.avatarDTO.fileName = "default_ie77t2.png";
          staff.avatarDTO.fileFolder = "avatar_images";
        }
        let avatar = staff.avatarDTO;
        let str = renderStaff(staff,locationRegion,avatar);

        $("#div_" + staff.id).replaceWith(str);

        page.dialogs.elements.modalUpdate.modal("hide");
        page.commands.removeEventShow();
        page.commands.handleEventShow();
        App.SweetAlert.showAlertSuccess(App.AlertMessageVi.SUCCESS_UPDATED);
      })
      .fail((jqXHR) => {
        page.dialogs.alertDanger.modalUpdate.removeClass("hide").addClass("show");
        let errors = jqXHR.responseJSON;
        if (errors) {
          let str = "";
          $.each(errors, (k, v) => {
            str += `
                      <li><label for="${k + 'Up'}">${v}</label></li>
                  `;
          })

          page.dialogs.alertDanger.modalUpdate.append(str);
        }
      }).always(function () {
      page.elements.loader.addClass("hide");
      page.dialogs.elements.btnUpdate.attr('disabled', false);
    });
  }

  page.dialogs.commands.loadImageToCanvas = (imageFile) => {
    page.dialogs.elements.imagePreview.css("display", "");
    page.dialogs.elements.wrapper.addClass("active");
    page.dialogs.elements.wrapperContent.css("opacity", 0);

    let imageObj = new Image();

    imageObj.onload = function () {
      page.dialogs.elements.context.canvas.width = imageObj.width;
      page.dialogs.elements.context.canvas.height = imageObj.height;
      page.dialogs.elements.context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
    };

    imageObj.src = URL.createObjectURL(imageFile)
  }
  page.dialogs.commands.changeImagePreview = () => {
    let imageFile = page.dialogs.elements.imageFile[0].files[0];

    if (imageFile) {
      let reader = new FileReader();

      reader.readAsDataURL(imageFile);

      reader.onload = function(e){
        if (e.target.readyState === FileReader.DONE) {
          page.dialogs.commands.loadImageToCanvas(imageFile);
        }
      }
    } else {
      page.dialogs.elements.clearImagePreview();
    }
  }
  page.dialogs.elements.clearImagePreview = () => {
    page.dialogs.elements.imageFile.val("");
    page.dialogs.elements.imagePreview.css("display", "none");
    page.dialogs.elements.wrapper.removeClass("active");
    page.dialogs.elements.wrapperContent.css("opacity", 1);
  }

  page.dialogs.commands.loadImageToCanvasUp = (imageFile, event = "load") => {
    page.dialogs.elements.imagePreviewUp.css("display", "");
    page.dialogs.elements.wrapperUp.addClass("active");
    page.dialogs.elements.wrapperContentUp.css("opacity", 0);

    let imageObj = new Image();

    imageObj.onload = function () {
      page.dialogs.elements.contextUp.canvas.width = imageObj.width;
      page.dialogs.elements.contextUp.canvas.height = imageObj.height;
      page.dialogs.elements.contextUp.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
    };

    return (event === "load") ? (imageObj.src = imageFile) : (imageObj.src = URL.createObjectURL(imageFile));

    // imageObj.src = URL.createObjectURL(imageFile)
  }
  page.dialogs.commands.changeImagePreviewUp = () => {
    let imageFile = page.dialogs.elements.imageFileUp[0].files[0];

    if (imageFile) {
      let reader = new FileReader();

      reader.readAsDataURL(imageFile);

      reader.onload = function(e){
        if (e.target.readyState === FileReader.DONE) {
          page.dialogs.commands.loadImageToCanvasUp(imageFile, "change");
        }
      }
    } else {
      page.dialogs.elements.clearImagePreviewUp();
    }
  }
  page.dialogs.elements.clearImagePreviewUp = () => {
    page.dialogs.elements.imageFileUp.val("");
    page.dialogs.elements.imagePreviewUp.css("display", "none");
    page.dialogs.elements.wrapperUp.removeClass("active");
    page.dialogs.elements.wrapperContentUp.css("opacity", 1);
  }


  page.commands.loadData = () => {
    page.commands.getAllStaffs();

    page.commands.getAllProvinces("Cre").then(() => {
      let provinceId = page.dialogs.elements.provinceCre.val();
      page.commands.getAllDistricts(provinceId,"Cre").then(() => {
        let districtId = page.dialogs.elements.districtCre.val();
        page.commands.getAllWards(districtId,"Cre");
      });
    })
  }

  page.initializeEventControl = () => {

    page.dialogs.elements.modalCreate.on("hidden.bs.modal", function () {
      page.dialogs.commands.handleCloseCreateModal();
    });
    page.dialogs.elements.modalUpdate.on("hidden.bs.modal", function () {
      page.dialogs.commands.handleCloseUpdateModal();
    });

    page.dialogs.elements.divImagePreview.on("click", function () {
      page.dialogs.elements.imageFile.trigger("click");
    });
    page.dialogs.elements.imageFile.on("change", function () {
      page.dialogs.commands.changeImagePreview();
    });
    page.dialogs.elements.btnClearImagePreview.on("click", function () {
      page.dialogs.elements.clearImagePreview();
    });

    page.dialogs.elements.divImagePreviewUp.on("click", function () {
      page.dialogs.elements.imageFileUp.trigger("click");
    });
    page.dialogs.elements.imageFileUp.on("change", function () {
      page.dialogs.commands.changeImagePreviewUp();
    });
    page.dialogs.elements.btnClearImagePreviewUp.on("click", function () {
      page.dialogs.elements.clearImagePreviewUp();
    });

  }


  $(() => {
    page.commands.loadData();

    page.initializeEventControl();
  });



</script>

</body>
</html>
